@()
<footer class="page-footer light-blue lighten-1">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Vachin
            <div class="right">
                <a class="grey-text text-lighten-4" href="/about">About</a> &nbsp; <a class="grey-text text-lighten-4" href="/privacy">Privacy</a> &nbsp; <a class="grey-text text-lighten-4" href="/terms">Terms</a> &nbsp; <a class="grey-text text-lighten-4" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</footer>
<script src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/materialize.min.js")"></script>
<script>
    $(document).ready(function() {

        var autocompleteSelectors = '#vachin-search, #vachin-search-mobile';

        var autoCompleteData = {
            "vachin": null
        };

        var autoCompleteMap = {};

        $(autocompleteSelectors).autocomplete({
            data: autoCompleteData,
            limit: 5,
            onAutocomplete: function(val) {
                console.log(val);
                window.location = '/' + autoCompleteMap[val].id;
            },
            minLength: 1,
            scrollLength: 3
        });

        $(autocompleteSelectors).on('input', function() {
            var query = $(this).val();
            if(query.length > 0){
                $.ajax({
                    url: API_ROOT + "texts/search?q=" + query,
                    success: function (data, textStatus, request) {
                        var formattedData = {};
                        var formattedMap = {};
                        data.texts.forEach(function (item) {
                            formattedData[item.text] = null;
                            formattedMap[item.text] = {
                                id: item._id,
                                views: item.views,
                                image: null
                            };
                        });
                        $.extend(autoCompleteData, formattedData);
                        $.extend(autoCompleteMap, formattedMap);
                    }
                });
            }

        });


        $(".button-collapse").sideNav();

        //$('.tooltipped').tooltip({delay: 50});

        var initialNav = "#initial-nav";
        var searchNav = "#search-nav";
        var searchClick = "#search-click";
        var searchSubmit = "#search-submit"; //TODO:
        var searchClose = "#search-close";
        $(searchClick).click(function (e) {
            $(initialNav).hide(500);
            $(searchNav).show(500);
            $(searchNav).find("input").focus();
        });

        $(searchNav).find("input").blur(function (e) {
            $(initialNav).show(500);
            $(searchNav).hide(500);
        });

        $(searchClose).click(function (e) {
            $(initialNav).show(500);
            $(searchNav).hide(500);
        });

    });

    $.ajax({
        url: API_ROOT + "tags",
        success: function (data, textStatus, request) {
            var dataObj = {};
            data.forEach(function (item) {
                dataObj[item._id] = null;
            });
            $(document).ready(function () {
                $('.tags-autocomplete').material_chip({
                    autocompleteOptions: {
                        data: dataObj,
                        limit: Infinity,
                        minLength: 1
                    },
                    placeholder: 'Enter a tag',
                    secondaryPlaceholder: '+Tag'
                });

                var chipsElement = $('.chips');
                var chips = [];

                chipsElement.on('chip.add', function(e, chip){
                    chips.push(chip.tag);
                });

                chipsElement.on('chip.delete', function(e, chip){
                    chips.filter(function (item) {
                        return item !== chip.tag;
                    });
                });

                chipsElement.on('chip.select', function(e, chip){
                    //TODO:
                });

                $("#new-text-form").submit(function (e) {
                    e.preventDefault();
                    var text = $("#new-text").val();
                    var by = $("#by").val();
                    if(text.length < 5){
                        Materialize.toast('Please write something to post..!', 4000);
                        return;
                    }
                    if(chips.length < 1){
                        Materialize.toast('Need at least one tag..!', 4000);
                        return;
                    }
                    var textData = {};
                    textData.text = text;
                    textData.tags = chips;
                    if(by && by.trim().length > 0){
                        textData.by = by;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/internal/texts/new",
                        data: JSON.stringify(textData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (data, textStatus, request) {
                            window.location = "/" + data;
                        },
                        error: function(xhr, exception){
                            console.error(exception);
                            Materialize.toast('Message already posted..! Try Another', 4000);
                        }
                    });
                });

            });
        }
    });

    $(document).on('click', '.text-copy-icon', function (el) {
        copyToClipboard($(this).data("text"));
        Materialize.toast('Text copied..!', 2000);
    });

    function copyToClipboard(text) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
    }

</script>
</body>
</html>
