@(injectMUI: Boolean = false)
<footer class="page-footer light-blue lighten-1">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Vachin
            <div class="right">
                <a class="grey-text text-lighten-4" href="#!">Privacy</a> &nbsp; <a class="grey-text text-lighten-4" href="#!">Terms</a> &nbsp; <a class="grey-text text-lighten-4" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<script src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
@if(injectMUI){
    <script src="@routes.Assets.at("javascripts/materialize.min.js")"></script>
}
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
<script>
    $(document).ready(function() {
        $("#vachin-search, #vachin-search-mobile").autocomplete({
            source: function (request, response) {
                var query = request.term;
                $.ajax({
                    url: API_ROOT + "texts/search?q=" + query,
                    success: function (data, textStatus, request) {
                        response($.map(data, function (item) {
                            return {
                                label: item.textItem,
                                value: item._id
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                window.location = "/" + ui.item.value;
                //$.youtubeAPI(ui.item.label);
            }
        });

        //$('.tooltipped').tooltip({delay: 50});

    });
    $.ajax({
        url: API_ROOT + "tags",
        success: function (data, textStatus, request) {
            var dataObj = {};
            data.forEach(function (item) {
                dataObj[item._id] = null;
            });
            $(document).ready(function () {
                console.log("Tags", dataObj);
                $('.tags-autocomplete').material_chip({
                    autocompleteOptions: {
                        data: dataObj,
                        limit: Infinity,
                        minLength: 1
                    },
                    placeholder: 'Enter a tag',
                    secondaryPlaceholder: '+Tag'
                });
            });
        }
    });
</script>
</body>
</html>
