@(title: String = "Vachin | We speak your feelings..!")
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@title</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")" />
        <script>
                window.API_ROOT = "http://api.vachin.tech/v1/api/"; //FIXME: not here
        </script>
    </head>
    <body>
