@(request: play.api.mvc.Request[Any], title: String = utils.Utils.title, text: Option[TextModel] = None, tag: Option[String] = None)
<!doctype html>
<html class="no-js" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @if(tag.isDefined){
            <meta name="keyword" content="@utils.Utils.getMetaKeywords(tag.get)"/>
        }else{
            <meta name="keyword" content="@utils.Utils.keywords"/>
        }
        <meta name="author" content="Vachin">
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")" />
        <title>@title</title>
        <link rel="manifest" href="@routes.Assets.at("manifest.json")">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@title" />
        <meta property="og:image" content="@routes.Assets.at("images/logo.png")"/>
        <meta property="og:description" content="@utils.Utils.description" />
        <meta property="og:site_name" content="Vachin" />
        <meta property="og:url" content="https://vach.in@request.uri" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@@wevachin" />
        <meta name="description" content="@utils.Utils.description">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/materialize.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")" />
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLLFZRQ');</script>
        <script>
                window.API_ROOT = "https://api.vach.in/";
                window.API_ROOT = "http://localhost:8080/v1/api/";
        </script>
        <script src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/materialize.min.js")"></script>
    </head>
    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLLFZRQ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
