@(tags: List[TagWithCount], tag: String = "")
<div class="collection with-header">
    @for(tagWithCount <- tags.take(20)){
        @if(tagWithCount._id.equals(tag)) {
            <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item active">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
        }else{
            <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
        }
    }
        <a href="/tags" title="See All Tags" class="collection-item">More Tags...</a>
</div>