@(text: TextModel, small: Boolean = false)
<div class="card-panel hoverable">
    <a href="/@text._id">
        <div class="card blue">
            <div class="card-content white-text" style="padding: 10px">
                @if(small){
                    <p><span style="width:90%; display: inline-block;" class="truncate">@text.text </span> <span class="right"> <i class="tiny material-icons" style="vertical-align: middle">visibility</i> @text.views</span></p>
                }else{
                    <span class="card-title flow-text">@text.text</span>
                }
            </div>
            @if(!small) {
                <div class="card-action blue lighten-1">
                    @for(tag <- text.tags) {
                        <div class="chip"><a href="/tagged/@tag" title="@tag">@tag</a></div>
                    }
                    <div class="right">
                        <span style="font-size: 25px;" class="white-text"><i class="small material-icons" style="vertical-align: text-bottom">visibility</i> @text.views</span>
                    </div>
                </div>
            }
        </div>
    </a>
</div>