@(tags: List[TagWithCount] = List.empty, tag: String = "", showSearch: Boolean = true)
<div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Vachin</a>
            <ul class="right">
                @if(showSearch){
                    <li>
                        <div class="center row">
                            <div class="input-field col s12 white-text">
                                <i class="white-text material-icons prefix">search</i>
                                <input type="text" placeholder="search" id="vachin-search" class="white-text" >
                            </div>
                        </div>
                    </li>
                }
                <li><a title="Trending" href="/trending">Trending</a></li>
                @*<li><a title="Add New" href="/texts/new"><i class="material-icons">add</i></a></li>*@
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<div class="side-nav collection with-header" id="nav-mobile">
@for(tagWithCount <- tags){
    @if(tagWithCount._id.equals(tag)) {
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item active">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }else{
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }
}
</div>