@(tags: List[TagWithCount] = List.empty, tag: String = "", showSearch: Boolean = true, request: Option[play.api.mvc.Request[Any]] = None)
<div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container" id="initial-nav">
            <a id="logo-container" href="/" class="brand-logo">Vachin</a>
            <ul class="right">
                <li class="hide-on-small-and-down"><a title="Trending" href="/trending">Trending</a></li>
                @if(request.isDefined && request.get.session.get("user").isDefined){
                    <li><a title="@request.get.session.get("user")"><i class="material-icons">account_circle</i></a></li>
                }
                <li class="hide-on-med-and-up"><a title="Trending" href="/trending"><i class="material-icons">trending_up</i></a></li>
                @if(showSearch){
                    <li><a title="Search" id="search-click"><i class="material-icons">search</i></a></li>
                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
        <div class="nav-wrapper container" id="search-nav" style="display: none">
            <form action="/search">
                <div class="input-field">
                    <input name="q" type="search" placeholder="search" id="vachin-search" class="autocomplete" />
                    <label class="label-icon" for="search"><i class="material-icons" id="search-submit">search</i></label>
                    <i class="material-icons" id="search-close">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="side-nav collection with-header" id="nav-mobile">
@for(tagWithCount <- tags){
    @if(tagWithCount._id.equals(tag)) {
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item active">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }else{
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }
}
</div>