@(tags: List[TagWithCount] = List.empty, tag: String = "", showSearch: Boolean = true, request: Option[play.api.mvc.Request[Any]] = None)
<div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container" id="initial-nav">
            <a id="logo-container" href="/" class="brand-logo">Vachin</a>
            <ul class="right">
                <li class="hide-on-med-and-down"><a title="Trending" href="/trending">Trending</a></li>
                <li class="hide-on-large-only"><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Trending" href="/trending"><i class="material-icons">trending_up</i></a></li>
                @if(request.isDefined && request.get.session.get("user").isDefined){
                    <li><a class="tooltipped" href="/internal/texts/new" data-position="bottom" data-delay="50" data-tooltip="New Text"><i class="material-icons">add</i></a></li>
                    <li><a class="tooltipped" href="/logout" data-position="bottom" data-delay="50" data-tooltip="Logout @request.get.session.get("user")"><i class="material-icons">exit_to_app</i></a></li>
                }
                @if(showSearch){
                    <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search" id="search-click"><i class="material-icons">search</i></a></li>
                }
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
        <div class="nav-wrapper container" id="search-nav" style="display: none">
            <form action="/search">
                <div class="input-field">
                    <input name="q" type="search" placeholder="Eg. friend, love, happy, sad" id="vachin-search" class="autocomplete" autocomplete="off"/>
                    <label class="label-icon" for="search"><i class="material-icons" id="search-submit">search</i></label>
                    <i class="material-icons" id="search-close">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="side-nav collection with-header" id="nav-mobile">
@for(tagWithCount <- tags.take(20)){
    @if(tagWithCount._id.equals(tag)) {
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item active">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }else{
        <a href="/tagged/@tagWithCount._id" title="@tagWithCount._id" class="collection-item">@tagWithCount._id <span class="secondary-content">@tagWithCount.count</span></a>
    }
    <a href="/tags" title="See All Tags" class="collection-item">More Tags...</a>
}
</div>