.vachin-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.page-footer{
    padding-top: 0;
}

.card-panel{
    padding: 0 !important;
}

.no-blue-color{
    color: inherit !important;
}

#topbarsearch .input-field .prefix {
    width:0rem !important;
}
#topbarsearch nav ul li:hover, nav ul li.active {
    background-color: transparent !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
    margin-left: 1rem !important;
}

.ui-autocomplete.ui-front {
    z-index: 1031 !important;
}
.ui-menu-item a
{
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}