.vachin-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.page-footer{
    padding-top: 0;
}

.card-panel{
    padding: 0 !important;
}

.no-blue-color{
    color: inherit !important;
}

.autocomplete-content.dropdown-content li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dt, dd.info{
    display: none !important;
}