.vachin-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.page-footer{
    padding-top: 0;
}

.card-panel{
    padding: 0 !important;
}

.no-blue-color{
    color: inherit !important;
}

.autocomplete-content.dropdown-content li span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dt, dd.info{
    display: none !important;
}

.text-justify {
    text-align: justify !important;
}

.main-text {
    background: url(https://unsplash.it/900/480?random) 100% 100%;
    min-height: 360px;
    display: table !important;
    width: 100%;
}

.main-text p.quoted-by{
    font-size: 18px;
}

.main-text .flow-text {
    font-size: 36px;
    text-align: justify;
    display: table-cell !important;
    vertical-align: middle;
    padding: 20px;
    background-color: rgba(144,202,249, 0.5);
}

@media (max-width: 728px) {

    .main-text {
        background: url(https://unsplash.it/728/480?random) 100% 100%;
        min-height: 360px;
        display: table !important;
        width: 100%;
    }

    .main-text .flow-text {
        font-size: 24px;
        padding: 10px;
    }
}