@import includes._
@(tags: List[TagWithCount])(implicit request: play.api.mvc.Request[Any])
@header(request, title = "About | Vachin")
@topbar(tags, request = Some(request))
<div class="main">
  <div class="row">
    <div class="col l2 xl2 hide-on-med-and-down"></div>
    <div class="col s12 m12 l8 xl8 ">
      <h3 align="center">About</h3>
      <p><strong>Vachin</strong> came from the Sanskrit word <strong>वचन</strong> (vácana) which has two meanings like</p>
      <ol>
        <li><strong>promise, word, oath, vow</strong></li>
        <li><strong>word, utterance, speech</strong></li>
      </ol>
      <p>So by considering the second meaning <strong>Vachin</strong> is the curated store of texts, quotes, messages which we generally use to express ourselves.</p>
      <p>The inspiration behind <strong>Vachin</strong> is that most of us can't express our feelings in words.
        And in layman terms only a few can express their feelings with words and the rest have better feelings but they can't express them.</p>
      <p><strong>Vachin</strong> aggregate best sentences from people and history and sort them with relevancy. So that who in need of those messages or quotes can use them anywhere they are.</p>
      <p>We will maintain this crowd sourced texts always available for all kinds of users across the world and coming soon in more languages.</p>
      <p>We need to thank <a href="https://unsplash.it/">Unsplash It</a> for their beautiful placeholder images which we are using as background for our texts. And soon we are planning to attribute each contributor of those images.</p>
      <p>We provide free access to our APIs which is in progress and it will be available soon through <a href="https://dev.vach.in">https://dev.vach.in</a> which is for developers.</p>
      <p>If anyone want to contribute in your free times, feel free to <a href="/contact">Contact Us</a></p>
    </div>
  </div>
</div>
@footer()