@import includes._
@(tags: List[TagWithCount])(implicit request: play.api.mvc.Request[Any])
@header(request, title = "Contact | Vachin")
@topbar(tags, request = Some(request))
<div class="main">
  <div class="row">
    <div class="col l2 xl2 hide-on-med-and-down"></div>
    <div class="col s12 m12 l8 xl8 ">
      <h3 align="center">Contact Us</h3>
      <div class="input-field col s12">
        <form id="contact-form">
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="form-name" type="text" class="validate" required>
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="form-email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="form-content" class="materialize-textarea" required></textarea>
              <label for="textarea1">Write us something...</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light right" type="submit" name="action">
            <span id="form-submit-text">Submit</span>
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
@footer()