@(message: String)(implicit request: play.api.mvc.Request[Any], messages: Messages)
@import includes._
@import models.Forms._
@import helper._
@header(request, title = "Login | Vachin")
@topbar(showSearch = false, request = Some(request))
<div class="main">
    <meta name="google-signin-client_id" content="407124636562-d9rctjrl1liojk427jrv6a0s76cuhdof.apps.googleusercontent.com">
    <div style="padding: 50px 0;">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col m1 l2"></div>
                    <div class="col s12 m4 l3 center">
                        <p>SignIn with </p>
                        <div style="display: inline-block">
                            <div class="input-field">
                                <div class="g-signin2" data-width="240" data-height="40" data-longtitle="true" data-onsuccess="onSignIn" data-onfailure="onSignInFailure"></div>
                            </div>
                            <div class="input-field">
                                <div onlogin="checkLoginState();" class="fb-login-button" data-scope="public_profile,email" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l5">
                        <p align="center">SignIn </p>
                        @helper.form(action = routes.Application.loginPost()){
                            @helper.input(loginForm("username")) { (id, name, value, args) =>
                                <div class="input-field">
                                    <input type="email" name="@name" id="@id">
                                    <label for="email">Email</label>
                                </div>
                            }
                            @helper.input(loginForm("password")) { (id, name, value, args) =>
                                <div class="input-field">
                                    <input type="password" name="@name" id="@id">
                                    <label for="password">Password</label>
                                </div>
                            }
                            <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        }
                    </div>
                    <div class="col m1 l2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        function onSignInFailure() {
            console.log("Login Failed");
        }
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            if (response.status === 'connected') {
                testAPI();
            } else {
                console.log("Please Get Log into this APP");
            }
        }
        function checkLoginState(response) {
            console.log("Response ", response);
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '274216633046171',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };
        function testAPI() {
            FB.api('/me', function(response) {
                console.log('Successful login for: ' + JSON.stringify(response));
            });
        }
</script>
@footer()