@(tags: List[TagWithCount], data: TextPaginatedModel, tag: Option[String], q: String)(implicit request: play.api.mvc.Request[Any])
@import includes._
@header(request, title = s"$q | Vachin | Search")
@topbar(tags, request = Some(request))
<div class="main">
    <div class="row">
        @left(tags, tag)
        <div class="col s12 m8 l6 xl7">
            @if(data.texts.isEmpty){
                <div>
                    <h4 class="center-align red-text">Oops..! No results found..!</h4>
                </div>
            }else{
                @for(textModel <- data.texts) {
                    @textItem(textModel)
                }
            }
            @pagination(data.meta, tag, Some(q))
        </div>
        @right()
    </div>
</div>
@footer()