@(tags: List[TagWithCount], data: TextPaginatedModel, tag: Option[String], q: String)(implicit request: play.api.mvc.Request[Any])
@import includes._
@header(request, title = s"$q | Vachin | Search")
@topbar(tags)
<div class="main">
    <div class="row">
        <div class="col l3 xl2 hide-on-med-and-down">
        @sidebar(tags, tag.getOrElse(""))
        </div>
        <div class="col s12 m8 l7 xl7">
            @if(data.texts.isEmpty){
                <div>
                    <h4 class="center-align red-text">Oops..! No results found..!</h4>
                </div>
            }else{
                @for(textModel <- data.texts) {
                    @textItem(textModel)
                }
            }
            @pagination(data.meta, tag, Some(q))
        </div>
    </div>
</div>
@footer()