@(tags: List[TagWithCount], data: TextPaginatedModel, tag: Option[String], q: String)(implicit request: play.api.mvc.Request[Any])
@import includes._
@header(request, title = s"$q | Vachin | Search")
@topbar(tags, request = Some(request))
<div class="main">
    <div class="row">
        @left(tags, tag)
        <div class="col s12 m8 l6 xl7">
            @for(textModel <- data.texts) {
                @textItem(textModel)
            }
            @if(data.texts.length < 5){
                <div>
                    <script>
                            (function() {
                                var cx = '002483794722605099418:bez4ir_hr24';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                    </script>
                    <gcse:searchresults-only></gcse:searchresults-only>
                </div>
            }
            @pagination(data.meta, tag, Some(q))
        </div>
        @right()
    </div>
</div>
@footer()