@import includes._
@(tags: List[TagWithCount], data: TextPaginatedModel, tag: Option[String])(implicit request: play.api.mvc.Request[Any])
@header(request, title = s"Tagged ${tag.getOrElse("")} | Vachin")
@topbar(tags, request = Some(request))
<div class="main">
    <div class="row">
        <div class="col l3 xl2 hide-on-med-and-down">
        @sidebar(tags, tag.getOrElse(""))
        </div>
        <div class="col s12 m8 l7 xl7">
        @if(tag.isDefined){
            <h5 align="center" class="purple-text"><i class="material-icons">loyalty</i> @tag.get</h5>
            <div class="divider"></div>
        }
        @if(data.texts.isEmpty){
            <div>
                <h4 class="center-align red-text">Oops..! No results found..!</h4>
            </div>
        }else{
            @for(textModel <- data.texts) {
                @textItem(textModel)
            }
        }
            @pagination(data.meta, tag, None)
        </div>
    </div>
</div>
@footer()