@import includes._
@(tags: List[TagWithCount], data: TextPaginatedModel, tag: Option[String])
@header()
@topbar(tags)
<div class="main">
    <div class="row">
        <div class="col l3 xl2 hide-on-med-and-down">
        @sidebar(tags, tag.getOrElse(""))
        </div>
        <div class="col s12 m8 l7 xl7">
        @if(tag.isDefined){
            <h5>@tag.get</h5>
            <div class="divider"></div>
        }
        @if(data.texts.isEmpty){
            <div>
                <h4 class="center-align red-text">Oops..! No results found..!</h4>
            </div>
        }else{
            @for(textModel <- data.texts) {
                @textItem(textModel)
            }
        }
        </div>
    </div>
</div>
@footer()