@import includes._
@(tags: List[TagWithCount], text: Option[TextModel], relatedData: TextPaginatedModel, tag: Option[String])(implicit request: play.api.mvc.Request[Any])
@if(text.isDefined){
    @header(request, text.get.text, text = text)
}else{
    @header(request, title = "Text Not Found | Vachin")
}
@topbar(tags, request = Some(request))
<div class="main">
    <div class="row">
        @left(tags, tag)
        <div class="col s12 m8 l6 xl7 ">
            @if(text.isDefined){
                <div class="card blue">
                    <div class="card-content main-text white-text">
                        <div class="card-title flow-text">
                            <p>@text.get.text</p>
                            @if(text.get.by.isDefined){
                                <p class="right quoted-by">- @text.get.by</p>
                            }
                        </div>
                    </div>
                    <div class="card-action blue lighten-1">
                        <div class="row">
                            <div class="col s9 m9 l10 xl10">
                                @for(tag <- text.get.tags){
                                    <a href="/tagged/@tag" title="@tag"><div class="chip teal-text">@tag</div></a>
                                }
                            </div>
                            <div class="col s3 m3 l2 xl2">
                                <span style="font-size: 25px;" class="right white-text"><i class="small material-icons" style="vertical-align: text-bottom">visibility</i> @text.get.views</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action blue lighten-3">
                        <div class="row">
                            <div class="col s10">
                                <div class="addthis_inline_share_toolbox"></div>
                            </div>
                            <div class="col s2">
                                @if(request.session.get("user").isDefined){
                                    <a style="position: absolute" href="/@text.get._id/edit" data-position="bottom" data-delay="50" data-tooltip="Click to Edit" class="tooltipped right white-text"><i class="small material-icons">mode_edit</i></a>
                                }
                                <a class="right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to Copy">
                                    <i class="small material-icons text-copy-icon white-text" style="vertical-align: middle" data-text="@text.get.text">content_copy</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=274216633046171";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="https://vach.in@request.uri" data-numposts="5" data-width="100%"></div>
            }else{
                <div>
                    <h4 class="center-align">Oops..! We don't have anything like this with us..!</h4>
                </div>
            }
            <div class="divider"></div>
            <div class="section">
                <h5>Related Texts</h5>
                @for(textModel <- relatedData.texts){
                    @textItem(textModel, true)
                }
            </div>
        </div>
        @right(Some(request.uri))
    </div>
</div>
<script>
        $(document).on('click', '.text-copy-icon', function (el) {
            copyToClipboard($(this).data("text"));
            Materialize.toast('Text copied..!', 2000);
        });

        function copyToClipboard(text) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(text).select();
            document.execCommand("copy");
            $temp.remove();
        }
</script>
@if(text.isDefined) {
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594edbdf3f1a526c"></script>
}
@footer()