@import includes._
@(tags: List[TagWithCount], text: Option[TextModel], relatedData: TextPaginatedModel, tag: Option[String])
@if(text.isDefined){
    @header(text.get.text)
}else{
    @header()
}
@topbar(tags)
<div class="main">
    <div class="row">
        <div class="col l3 xl2 hide-on-med-and-down">
            @sidebar(tags, tag.getOrElse(""))
        </div>
        <div class="col s12 m8 l7 xl7 ">
            @if(text.isDefined){
                <div class="card blue">
                    <div class="card-content white-text">
                        <span class="card-title flow-text">@text.get.text</span>
                        @if(text.get.by.isDefined){
                            <p class="right">- @text.get.by</p>
                        }
                    </div>
                    <div class="card-action blue lighten-1">
                        <div class="row">
                            <div class="col s10">
                                @for(tag <- text.get.tags){
                                    <a href="/tagged/@tag" title="@tag"><div class="chip teal-text">@tag</div></a>
                                }
                            </div>
                            <div class="col s2">
                                <span style="font-size: 25px;" class="right white-text"><i class="small material-icons" style="vertical-align: text-bottom">visibility</i> @text.get.views</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action blue lighten-3">
                        <div class="row">
                            <div class="col s10">
                                <div class="addthis_inline_share_toolbox"></div>
                            </div>
                            <div class="col s2">
                                <a class="right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to Copy">
                                    <i class="small material-icons text-copy-icon white-text" style="vertical-align: middle" data-text="@text.get.text">content_copy</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }else{
                <div>
                    <h4 class="center-align">Oops..! We don't have anything like this with us..!</h4>
                </div>
            }
            <div class="divider"></div>
            <div class="section">
                <h5>Related Texts</h5>
                @for(textModel <- relatedData.texts){
                    @textItem(textModel, true)
                }
            </div>
        </div>
    </div>
</div>
@if(text.isDefined) {
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-594edbdf3f1a526c"></script>
}
@footer()